<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="kommunicate-cordova-plugin"
        xmlns:tools="http://schemas.android.com/tools"
        version="0.4.16">

  <name>Kommunicate</name>
  
  <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
  <dependency id="cordova-plugin-cocoapod-support"/>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/kommunicate.js" target="js/kommunicate.js"/>

  <js-module src="www/kommunicate.js" name="kommunicate">
    <clobbers target="kommunicate" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KommunicateCordovaPlugin">
        <param name="android-package" 
               value="io.kommunicate.phonegap.KommunicateCordovaPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/KommunicateCordovaPlugin.java" target-dir="src/io/kommunicate/phonegap/"/>
    <source-file src="src/android/FcmListenerService.java" target-dir="src/io/kommunicate/phonegap/notification"/>
    <source-file src="src/android/applozic-settings.json" target-dir="assets"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">

      <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAv1wf5eMyErPaU3l8EnMUmOsoYJ2joC70" />

        <service android:name="io.kommunicate.phonegap.notification.FcmListenerService"
                 android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </config-file>

  </platform>

  <platform name="ios">
        <pods-config ios-min-version="10.0" use-frameworks="true"/>
        <pod name="Kommunicate" version="2.3.0"/>
        
        <config-file target="config.xml" parent="/*">
          <feature name="KommunicateCordovaPlugin">
            <param name="ios-package" value="KommunicateCordovaPlugin" />
          </feature>
        </config-file>

        <config-file
            parent="NSCameraUsageDescription"
            target="*-Info.plist">
            <string>Allow Camera</string>
        </config-file>


        <config-file
            parent="NSPhotoLibraryAddUsageDescription"
            target="*-Info.plist">
            <string>Allow Write</string>
        </config-file>


        <config-file
            parent="NSContactsUsageDescription"
            target="*-Info.plist">
            <string>Allow Contacts</string>
        </config-file>


        <config-file
            parent="NSLocationWhenInUseUsageDescription"
            target="*-Info.plist">
            <string>Allow location sharing</string>
        </config-file>


        <config-file
            parent="NSMicrophoneUsageDescription"
            target="*-Info.plist">
            <string>Allow MicroPhone</string>
        </config-file>


        <config-file
            parent="NSPhotoLibraryUsageDescription"
            target="*-Info.plist">
            <string>Allow Photos</string>
        </config-file>
  
    <source-file src="src/ios/KommunicateCordovaPlugin.swift"/>
    <header-file src="src/ios/Kommunicate-Bridging-Header.h" />
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
        <feature name="KommunicateCordovaPlugin">
            <param name="browser-package" value="KommunicateCordovaPlugin" />
        </feature>
    </config-file>

    <js-module src="src/browser/KommunicateCordovaPluginProxy.js" name="KommunicateCordovaPluginProxy">
        <runs />
    </js-module>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Kommunicate.cs"/>
  </platform>
</plugin>
