<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="io.kommunicate.phonegap"
        xmlns:tools="http://schemas.android.com/tools"
        version="0.8.0">

  <name>Kommunicate</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/kommunicate.js" target="js/kommunicate.js"/>

  <js-module src="www/kommunicate.js" name="kommunicate">
    <clobbers target="kommunicate" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KommunicateCordovaPlugin">
        <param name="android-package" 
               value="io.kommunicate.phonegap.KommunicateCordovaPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/KommunicateCordovaPlugin.java" target-dir="src/io/kommunicate/phonegap/"/>
    <source-file src="src/android/FcmInstanceIDListenerService.java" target-dir="src/io/kommunicate/phonegap/notification"/>
    <source-file src="src/android/FcmListenerService.java" target-dir="src/io/kommunicate/phonegap/notification"/>
    <source-file src="src/android/applozic-settings.json" target-dir="assets"/>
    <source-file src="src/android/provider_paths.xml" target-dir="res/xml"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">

    <!--  <meta-data android:name="com.applozic.application.key"
                 android:value="applozic-sample-app" /> --> <!-- Applozic Application Key -->

    <!--  <meta-data android:name="com.applozic.mobicomkit.notification.smallIcon"
                 android:resource="@mipmap/icon" /> --> <!-- Launcher white Icon -->

      <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAv1wf5eMyErPaU3l8EnMUmOsoYJ2joC70" />

        <service android:name="io.kommunicate.phonegap.notification.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="io.kommunicate.phonegap.notification.FcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="io.kommunicate.activities.KMConversationActivity"
            android:configChanges="keyboardHidden|screenSize|locale|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/applozic_provider_paths" />
        </provider>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ContactSelectionActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelCreateActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.kommunicate.activities.KMConversationActivity" />
        </activity>
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobiComAttachmentSelectorActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.kommunicate.activities.KMConversationActivity" />
        </activity>
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelNameActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme" />
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelInfoActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.kommunicate.activities.KMConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobicomLocationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.people.activity.MobiComKitPeopleActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.kommunicate.activities.KMConversationActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.FullScreenImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Image"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/Applozic_FullScreen_Theme">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.richmessaging.payment.PaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Image"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.MessageIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.applozic.mobicomkit.api.conversation.ApplozicIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.applozic.mobicomkit.api.conversation.ApplozicMqttIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.applozic.mobicomkit.api.people.UserIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.applozic.mobicomkit.api.notification.NotificationIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.ConversationIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name="com.applozic.mobicomkit.uiwidgets.notification.PushNotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.applozic.mobicomkit.broadcast.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.applozic.mobicomkit.broadcast.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="activity.open.on.notification"
            android:value="io.kommunicate.activities.KMConversationActivity" />

        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission 
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    </config-file>

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="KommunicateCordovaPlugin">
        <param name="ios-package" value="KommunicateCordovaPlugin" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
          <dict>
              <key>NSCameraUsageDescription</key>
              <string>Allow Camera</string>
              <key>NSContactsUsageDescription</key>
              <string>Allow Contacts</string>
              <key>NSLocationWhenInUseUsageDescription</key>
              <string>Allow location sharing!!</string>
              <key>NSMicrophoneUsageDescription</key>
              <string>Allow MicroPhone</string>
              <key>NSPhotoLibraryUsageDescription</key>
              <string>Allow Photos</string>
          </dict>
      </array>
    </config-file>

    <header-file src="src/ios/KommunicateCordovaPlugin.h" target-dir="KommunicatePlugin"/>
    <source-file src="src/ios/KommunicateCordovaPlugin.m" target-dir="KommunicatePlugin"/>

    <header-file src="src/ios/ALChatManager.h" target-dir="KommunicatePlugin"/>
    <source-file src="src/ios/ALChatManager.m" target-dir="KommunicatePlugin"/>

   <!-- <framework src="Applozic" type="podspec" spec="~> 3.9" /> -->
   <framework src="src/ios/Kommunicate.framework" custom="true" embed="true" />

  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Applozic.cs"/>
  </platform>

</plugin>
